*.pyc

# This is downloaded by NYPD-Crash.ipynb
collisions.csv.gz

# Images for various apps, starting with Office.ipynb
img

# Store private keys in secret files
secret*

# IPython 1.0 creates intermediate checkpoints
.ipynb_checkpoints/

# Ignore sample data files created
sample.*

# Text-analysis.ipynb uses tweets.json.gz
tweets.json.gz

# IMDb.ipynb movie data
*.list.gz

# Any slideshows or HTML output created is ignored
*.html

# Ignore the output of OpenAI Embeddings
.openai-embeddings/

# Ignore generated embeddings files
.embeddings.db
.embeddings/
