*.pyc

# This is downloaded by NYPD-Crash.ipynb
collisions.csv.gz

# Images for various apps, starting with Office.ipynb
img

# Store private keys in secret files
secret*

# IPython 1.0 creates intermediate checkpoints
.ipynb_checkpoints

# Ignore sample data files created
sample.data*
